body {
    background-color: #ebebdc;
}
nav {
    background-color: #ebebdc;
}
#rackPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    cursor: pointer;
}
.nav-link {
    color: black;
    font-family: andale mono, monospace;
    text-shadow: 10px 8px 8px black;
    font-size: 2vh;
}
.nav-link:hover {
    cursor: pointer;
    color: black;
    text-shadow: 5px 5px 4px black;
}

.landingPageText {
    text-align: center;
    font-size: 5vh;
    padding-top: 3vh;
    color: black;
    font-family: andale mono, monospace;
    text-shadow: 5px 8px 10px black;
}
